.nav-side-bar {
	padding: 0;
	border-right: 0;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 8px rgba(0,0,0,.4);
	background-color: #fff;
	z-index: 3;}
	.nav-side-bar img {
		margin-bottom: 20px;
		width: 100%; }
	.nav-side-bar ul {
		padding: 0;
		margin: 0; }
		.nav-side-bar ul li {
			width: 100%;
			list-style: none; }
			.nav-side-bar ul li a {
				display: flex;
				transition: .2s all;
				text-decoration: none;
				justify-content: center;
				padding: 10px 20px;
				font-size: 18px; }
				.nav-side-bar ul li a i {
					font-size: 20px;
					margin: 2px 10px 0 0; }
				.nav-side-bar ul li a:hover {
					color: #333;
					text-decoration: none;
					background-color: #E0E0E0; }
			.nav-side-bar .nav-side-bar-active {
				color: #fff !important;
			 	background-color: #3F51B5 !important; }
			.nav-side-bar .nav-side-bar-active i {
				color: #fff; }

@media (min-width: 650px) {
	.nav-side-bar ul {
		display: flex; }
		.nav-side-bar ul li {
			width: 50%; }
			.nav-side-bar ul li a {
				font-size: 20px; }
				.nav-side-bar ul li a i {
					font-size: 24px; }
}

@media (min-width: 992px) {
	.nav-side-bar {
		position: relative;
		box-shadow: none;
		width: 16.66666667%;
		border-bottom: 1px solid #e0e0e0; 
		border-right: 1px solid #e0e0e0; }
		.nav-side-bar ul {
			padding: 20px 0;
			display: block; }
			.nav-side-bar ul li {
				width: 100%; }
				.nav-side-bar ul li a {
					justify-content: flex-start; }
}