.nav-side-bar {
	padding: 0;
	min-height: 50vh;
	border-bottom: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0; }
	.nav-side-bar img {
		margin-bottom: 20px;
		width: 100%; }
	.nav-side-bar h1 {
		font-size: 20px;
		text-align: center;
		border-bottom: 4px solid #000;
		padding: 10px; }
	.nav-side-bar ul {
		padding: 10px;
		margin: 0;
		margin-bottom: 20px; }
		.nav-side-bar ul li {
			list-style: none; }
			.nav-side-bar ul li a {
				display: flex;
				transition: .2s all;
				border-radius: 10px;
				text-decoration: none;
				padding: 10px;
				margin-bottom: 5px;
				font-size: 20px; }
				.nav-side-bar ul li a i {
					margin: 2px 10px 0 0; }
				.nav-side-bar ul li a:hover {
					text-decoration: none;
					background-color: #E0E0E0; }
			.nav-side-bar .nav-side-bar-active {
				color: #fff !important;
			 	background-color: #3F51B5 !important; }
			.nav-side-bar .nav-side-bar-active i {
				color: #fff; }