.albums {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	align-items: stretch; }
	.albums .album {
		width: calc(100% / 1);
  	min-width: calc(100% / 1);
		padding: 5px; }
		.albums .album .album-inner {
			height: 100%;
			border: 1px solid #E0E0E0; }
			.albums .album .album-inner img {
				width: 100%;  }
			.albums .album .album-inner .album-content {
				position: relative;
				padding: 10px;
				background-color: #fff;
				border-radius: 0 0 5px 5px;
				cursor: pointer; }
				.albums .album .album-inner .album-content .album-more {
					display: none;
					justify-content: center;
					align-items: center;
					height: 100%;
					z-index: 2;
					position: absolute;
					top: -63px;
					right: 0; }
					.albums .album .album-inner:hover .album-more {
						display: flex; }
					.albums .album .album-inner .album-content .album-more i {
						box-shadow:
							0 4px 5px 0 rgba(0, 0, 0, 0.14),
							0 1px 10px 0 rgba(0, 0, 0, 0.12),
							0 2px 4px -1px rgba(0, 0, 0, 0.2);
						transition: .2s all;
						border-radius: 100%;
						background-color: #fff;;
						padding: 10px;
						margin-right: 10px;
						font-size: 25px; }
						.albums .album .album-inner .album-content .album-more i:hover {
							background-color: #EEEEEE; }
				.albums .album .album-inner .album-content .album-more-menu {
					display: none;
					position: absolute;
					top: -54px;
					right: -22px;
					z-index: 3;
					background-color: #fff;
					border-radius: 10px;
					box-shadow:
						0 4px 5px 0 rgba(0, 0, 0, 0.14),
						0 1px 10px 0 rgba(0, 0, 0, 0.12),
						0 2px 4px -1px rgba(0, 0, 0, 0.2);
					padding: 10px 0; }
					.albums .album .album-inner .album-content .album-more-menu p {
						padding: 10px 20px;
						font-size: 16px; }
						.albums .album .album-inner .album-content .album-more-menu p:hover {
							background-color: #eeeeee; }
				.albums .album .album-inner .album-content h1,
				.albums .album .album-inner .album-content p {
					overflow: hidden;
					white-space: nowrap;
					position: relative;
					background-color: #fff; }
					.albums .album .album-inner .album-content h1:after,
					.albums .album .album-inner .album-content p:after {
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
						top: 0;
						width: 30px;
						content: "";
						background: linear-gradient(to right, rgba(255, 255, 255, 0), white); }
					.albums .album .album-inner .album-content h1 span,
					.albums .album .album-inner .album-content p span {
						cursor: pointer; }
						.albums .album .album-inner .album-content h1 span:hover,
						.albums .album .album-inner .album-content p span:hover {
							text-decoration: underline; }
				.albums .album .album-inner .album-content h1 {
					font-size: 18px;
					font-weight: 500; }
				.albums .album .album-inner .album-content p {
					font-size: 17px;
					font-weight: 400; }