.album-window {
	top: 75px;
	padding: 40px;
	z-index: 5; }
	.album-window .album-window-side {
		padding: 0; }
    .album-window .album-window-cover img {
      cursor: pointer;
      box-shadow:
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);
      width: 100%;
      height: auto; }
		.album-window .album-window-info {
			padding: 40px 40px 40px 60px; }
			.album-window .album-window-info h1 {
				font-weight: 600;
				display: flex;
				justify-content: space-between;
				padding-bottom: 10px;
				border-bottom: 2px solid #333;
				margin-bottom: 10px;
				font-size: 38px; }
				.album-window .album-window-info h1 i {
					border-radius: 100%;
					cursor: pointer;
					font-size: 41px; }
					.album-window .album-window-info h1 i:hover {
						background-color: #E0E0E0; }
			.album-window .album-window-info h2 {
				font-weight: 400;
				margin-bottom: 40px;
				font-size: 22px; }
				.album-window .album-window-info h2 span {
					color: #3F51B5;
          cursor: pointer;
					font-weight: 800; }
          .album-window .album-window-info h2 span:hover {
            text-decoration: underline; }
			.album-window .album-window-song-list {
				padding: 0; }
				.album-window .album-window-song-list ul {
					padding: 0;
          padding: 20px 0;
          background-color: #fff;
          box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
					margin: 0; }
					.album-window .album-window-song-list li {
            padding-left: 20px;
            padding-right: 20px;
						cursor: pointer;
						list-style-type: none; }
						.album-window .album-window-song-list li.active {
							border-color: #e0e0e0;
							background-color: #e0e0e0 !important; }
						.album-window .album-window-song-list li:hover {
							background-color: #eeeeee; }
						.album-window .album-window-song-list li div {
							display: flex;
							justify-content: space-between; }
							.album-window .album-window-song-list li div .album-window-song-title {
								display: flex;
								justify-content: flex-start; }
							.album-window .album-window-song-list li div i,
							.album-window-song-list-text {
                text-align: center;
								min-width: 40px;
								padding: 10px; }
								.album-window .album-window-song-list li div
								.material-icons {
									font-size: 26px; }
								.album-window .album-window-song-list li div
								.album-window-song-list-text {
									font-size: 18px; }