.home {
  padding: 0;
  position: relative;
  height: 100vh;
  margin: 0; }
.home .home-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}