.play {
	display: flex;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	z-index: 4;
	box-shadow: 0 0 8px rgba(0,0,0,.4);
	width: 100%; }

.play audio {
	display: none; }

.play-section {
	padding: 10px; }

.play-left {
	display: flex;
	padding: 0;
	min-width: 300px;
	flex: 1; }
	.play-left img {
		width: 100px;
		height: 100px; }
		.play-left .play-content {
			display: flex;
			align-items: center;
			padding: 10px; }
				.play-left .play-content h1 {
					font-size: 24px; }
				.play-left .play-content p {
					font-size: 16px; }

.play-middle {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1; }
	.play-middle i {
		-webkit-user-select: none;
		cursor: pointer;
		transition: .2s all;
		border-radius: 100%;
		margin: 0 5px;
		padding: 10px;
		font-size: 33px; }
		.play-middle i:hover {
			background-color: #E0E0E0; }
		.play-middle .play-play-button {
			color: #3F51B5;
			font-size: 60px; }

	.play-middle .play-middle-play img {
		width: 80px;
		margin: 0 5px;
		padding: 10px;
		height: auto; }
	.play-middle .play-load {
		font-size: 60px; }

.play-right {
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	display: flex; }
	.play-right .play-right-icon {
		cursor: pointer; }
	.play-right .input-range {
		margin: 0 10px;
		width: 60%; }
		.play-right .input-range span {
			font-size: 16px; }
		.play-right .input-range__label--min, .input-range__label--max {
			bottom: -22px; }
		.play-right .input-range__label--value {
			top: -30px; }