.songs {
	padding: 10px; }
	.songs table {
		width: 100%; }
		.songs table td, th {
			transition: .2s background;
			cursor: pointer;
			font-size: 14px;
			border: 1px solid #eeeeee;
			padding: 10px; }
		.songs table tr:hover {
			background-color: #eeeeee; }
		.songs table th {
			color: #fff; }

.songs table .song-cover {
	width: 59px;
	max-width: 59px;
	padding: 5px; }
	.songs table .song-cover img {
		width: 48px;
		height: auto; }

.songs table .song-length {
	width: 61px;
	color: #757575;
	max-width: 61px; }
	.songs table .song-length .song-length-inner {
		display: flex;
		justify-content: center;
		align-content: center; }
	.songs table .song-length i {
		font-size: 22px;
		color: #fff; }

.songs .song-active {
	background-color: #3F51B5; }
	.songs table .song-active:hover {
		background-color: #3F51B5; }
	.songs .song-active td {
		color: #fff;
		border-color: #3F51B5; }

@media (min-width: 900px) {
	.songs {
		padding: 20px; }
	.songs table td, th {
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	.songs {
		padding: 40px; }
}