.songs {
	padding: 40px; }
	.songs table {
		width: 100%; }
		.songs table td, tr, th {
			font-size: 18px;
			border: 1px solid #eeeeee;
			padding: 10px; }

.songs table th {
	color: #fff; }