.artists {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	align-items: stretch;
	padding: 0; }
	.artists .artist {
		width: calc(100% / 3);
		padding: 5px; }
		.artists .artist .artist-inner {
			border: 1px solid #eeeeee;
			padding: 10px; }