.artist-window {
	top: 75px;
	display: flex;
	flex-direction: column;
	padding: 0;
	z-index: 5; }

	.artist-window .artist-window-cover {
		width: 100%;
		min-height: 500px;
		height: 500px;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
		position: relative;
		background-position: top;
		background-size: cover;
		background-repeat: no-repeat; }
		.artist-window .artist-window-cover .artist-window-close {
			position: fixed;
			transition: .2s all;
			display: block;
			background-color: #fff;
			box-shadow: 0 0 8px rgba(0,0,0,.4);
			border-radius: 100%;
			padding: 5px;
			font-size: 50px;
			cursor: pointer;
			margin: 20px;
			top: 75px;
			right: 17px; }
			.artist-window .artist-window-cover .artist-window-close:hover {
				background-color: #E0E0E0; }

	.artist-window .artist-window-logo {
		margin: 0;
		position: absolute;
		top: 495px;
		border-radius: 100%;
		box-shadow: 0 0 8px rgba(0,0,0,.4);
		left: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: #fff;
		width: 150px;
		height: 150px;
		margin-right: -50%;
		transform: translate(-50%, -50%); }

	.artist-window .artist-window-content {
		box-shadow: 0 0 8px rgba(0,0,0,.4);
    padding: 40px;
    background-color: #fff;
		padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px; }
		.artist-window .artist-window-content h1 {
			text-align: center;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #333;
      font-weight: 800;
			font-size: 32px; }
		.artist-window .artist-window-content .artist-window-sub-heading {
			display: flex;
			margin-bottom: 60px;
			align-items: center;
			justify-content: space-between; }
			.artist-window .artist-window-content .artist-window-sub-heading .artist-window-sub-heading-sides {
				width: 180px; }
			.artist-window .artist-window-content .artist-window-sub-heading h2, .artist-window .artist-window-content .artist-window-sub-heading a {
				margin: 0;
				padding: 0;
				font-weight: 500;
				font-size: 18px; }
			.artist-window .artist-window-content .artist-window-sub-heading a {
				display: flex;
				float: right;
				align-items: center;
				justify-content: center; }
				.artist-window .artist-window-content .artist-window-sub-heading a:hover, i:hover {
					text-decoration: none; }
				.artist-window .artist-window-content .artist-window-sub-heading div i {
					padding-right: 10px; }
		.artist-window .artist-window-content p {
			font-size: 16px;
			margin-bottom: 20px; }
			.artist-window .artist-window-content p a {
				font-weight: 800;
				color: #3F51B5;
				font-size: 16px; }

@media (min-width: 992px) {
  
  .artist-window .artist-window-logo {
		width: 175px;
		height: 175px; }
  
  .artist-window .artist-window-content {
    padding-top: 60px; }
    .artist-window .artist-window-content h1 {
      padding-bottom: 15px;
      margin-bottom: 15px;
      font-size: 36px; }
  
  .artist-window .artist-window-content .artist-window-sub-heading h2, .artist-window .artist-window-content .artist-window-sub-heading a {
    font-size: 20px; }
}