.header {
	display: flex;
	z-index: 2;
	position: fixed;
	width: 100vw;
	width: 100%; }
	.header .header-section {
		color: #fff;
		padding: 10px;
		position: relative; }

		.header .header-left {
			min-width: 260px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex: 1; }
			.header .header-left .header-hamburger {
				padding-bottom: 10px; }
			.header .header-left .header-title {
				padding: 0 10px;
				color: #fff;
				font-size: 25px; }

		.header .header-middle {
			flex: 2; }

		.header .header-right {
			flex: 1; }