.header {
	display: block;
	z-index: 6;
	position: fixed;
	box-shadow:
		0 4px 5px 0 rgba(0, 0, 0, 0.14),
		0 1px 10px 0 rgba(0, 0, 0, 0.12),
		0 2px 4px -1px rgba(0, 0, 0, 0.2);
	width: 100vw;
	width: 100%; }
	.header .header-section {
		color: #fff;
		padding: 10px;
		position: relative; }
		.header .header-left {
			min-width: 230px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex: 1; }
			.header .header-left .header-hamburger {
				padding-bottom: 10px; }
        .header .header-left .header-title a {
          display: block; }
          .header .header-left .header-title img {
            padding: 0 10px;
            width: 192px; }

		.header .header-middle {
			position: relative;
			min-width: 220px;
			padding: 0 10px 10px 10px !important;
			flex: 2; }
			.header .header-middle .header-icon  {
				-webkit-user-select: none;
				transition: .2s all;
				cursor: pointer;
				padding: 10px;
				border-radius: 100%;
				position: absolute;
				color: #fff;
				z-index: 2; }
				.header .header-middle i:hover {
					background-color: rgba(238,238,238,.2); }

			.header .header-middle input {
				outline: none;
				border: none;
				width: 100%;
				height: 100%;
				padding: 10px 10px 10px 70px;
				box-shadow:
					rgba(0, 0, 0, 0.12) 0px 1px 6px,
					rgba(0, 0, 0, 0.12) 0px 1px 4px;
				font-size: 20px;
				border-radius: 5px;
				color: #fff; }
				.header .header-middle input:focus {
					box-shadow:
						rgba(0, 0, 0, 0.16) 0px 3px 10px,
						rgba(0, 0, 0, 0.23) 0px 3px 10px; }
				.header .header-middle input::-webkit-input-placeholder {
					opacity: 0.5;
					color: #fff; }

		.header .header-right {
      padding: 0;
      display: flex;
      flex-direction: row-reverse;
			flex: 1; }
      .header .header-right .header-profile-info {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column; }
        .header .header-right .header-profile-info h1 {
          font-size: 18px;
          font-weight: 800;
          text-align: right;
          color: #fff; }
        .header .header-right .header-profile-info a {
          font-size: 15px;
          font-weight: 300;
          text-align: right;
          color: #fff; }
      .header .header-right img {
        margin: 15px;
        width: 45px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0,0,0,.4);
        height: 45px; }

@media (min-width: 650px) {
	.header .header-middle {
		padding: 10px !important; }
	.header {
		display: flex; }
	.header .header-left {
		min-width: 260px; }
	.header .header-left .header-title a {
		font-size: 25px; }
}