.library {
	margin-bottom: 100px;
	padding-top: 169px; }
	.content {
		padding: 5px;
    min-height: 100vh;}

@media (min-width: 650px) {
	.library {
		padding-top: 75px; }
}

@media (min-width: 992px) {
	.content {
		margin: 0 !important; }
}