.songs {
	padding: 5px; }
	.songs table {
		background-color: #fff;
		width: 100%; }
		.songs table td, th {
			transition: .2s background;
			cursor: pointer;
			font-size: 14px;
			border: 1px solid #eeeeee;
			padding: 10px; }
		.songs table tr:hover {
			background-color: #eeeeee; }
		.songs table th {
			color: #fff; }

.songs table thead .song-icon {
	align-content: center;
	display: flex;
	justify-content: center; }
	.songs table thead .song-icon i {
		font-size: 22px; }
  .songs table thead th {
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    font-size: 15px;
    border: none;
    cursor: auto;
    border-bottom: 1px solid #EEEEEE;
    color: #333; }

.songs table .song-cover {
	width: 42px;
	max-width: 42px;
	padding: 5px; }
	.songs table .song-cover img {
		width: 31px;
		height: auto; }

.songs table .song-length {
	width: 50px;
	max-width: 50px; }
	.songs table .song-length div {
		color: #757575;
    justify-content: center;
		display: flex; }

.songs .song-active {
	background-color: #3F51B5; }
	.songs table .song-active:hover {
		background-color: #3F51B5; }
	.songs .song-active td, .songs .song-active td div {
		color: #fff;
		border-color: #3F51B5; }

@media (min-width: 900px) {
	.songs table td, th {
		font-size: 15px; }
}