.header .header-middle .header-search-icon {
	top: 16px;
	left: 20px; }

.header .header-middle .header-search-close {
	top: 16px;
	right: 18px; }

.header .header-middle .header-search-drop-down {
	overflow: auto;
	position: absolute;
	box-shadow:
		0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.4);
	top: 70px;
	width: 100%;
	background-color: #fff;
	max-height: 600px; }

.header .header-middle .header-search-drop-down h1 {
	font-size: 20px;
	margin-top: 20px;
	padding: 10px;
	border-bottom: 2px solid #333; }

.header .header-middle .header-search-drop-down h4 {
	padding: 10px;
	font-size: 18px;
	color: #9E9E9E; }

.search-item {
	padding: 10px;
	transition: .2s all;
	cursor: pointer;
	border-bottom: 1px solid #EEEEEE;
	display: flex; }
	.search-item:hover {
		background-color: #EEEEEE; }
	.search-item img {
		margin-right: 10px;
		height: 45px;
		width: 45px; }
	.search-song .search-item-inner {
		display: flex;
		flex-direction: column; }
		.search-item .search-item-inner p span {
			font-weight: 500;
			font-size: 18px; }
		.search-song .search-item-inner span {
			font-size: 14px; }
			.search-item span:hover {
				text-decoration: underline; }