@import url('../src/fonts/roboto/font.css');
@import url('../src/fonts/material-icons/font.css');

body {
	margin: 0;
	border: 0;
	padding: 0; }
	body, h1, h2, h3, h4, h5 h6, p, i, a, bold, span, strong, div, section, nav, aside {
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
		color: #333333;
		margin: 0; }

::selection {
	color: #fff; 
	background: #3F51B5; }

.window {
	overflow-y: auto;
  margin-bottom: 90px;
	padding: 10px;
	overflow-x: hidden;
	position: fixed;
	top: 169px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #F5F5F5; }

@media (min-width: 992px) {
  .window {
    margin-bottom: 100px; }
}

.grid-item {
  cursor: pointer;
  margin: 5px; }
  .grid-item:hover {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37); }