.play {
	display: flex;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	z-index: 7;
	box-shadow: 0 0 8px rgba(0,0,0,.4);
	width: 100%; }

.play audio {
	display: none; }

.play-section {
	padding: 5px; }

.play-left {
	display: flex;
	padding: 0 !important;
	min-width: 300px;
	flex: 1; }
	.play-left img {
		width: 90px;
		height: 90px; }
		.play-left .play-content {
			display: flex;
			align-items: center;
			padding: 10px; }
				.play-left .play-content h1 {
					font-size: 20px; }
				.play-left .play-content p {
					font-size: 14px; }

.play-middle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1; }
	.play-middle i {
		-webkit-user-select: none;
		cursor: pointer;
		transition: .2s all;
		border-radius: 100%;
		padding: 10px;
		margin: 0;
		font-size: 26px; }
		.play-middle i:hover {
			background-color: #E0E0E0; }
  .play-middle .play-middle-play .play-play-button {
    color: #3F51B5;
    font-size: 60px; }
	.play-middle .play-middle-play img {
		width: 70px;
    height: 70px;
		margin: 0 10px;
		cursor: pointer;
		padding: 10px; }

.play-right {
	flex: 1;
	justify-content: flex-end;
	padding-right: 10px;
	align-items: center;
	display: flex; }
	.play-right .play-right-icon {
		cursor: pointer; }
	.play-right .input-range {
		margin: 0 10px;
		width: 60%; }
		.play-right .input-range span {
			font-size: 16px; }
		.play-right .input-range__label--min, .input-range__label--max {
			display: none; }
		.play-right .input-range__label--value {
			top: -30px; }

@media (min-width: 992px) {
	.play-section {
		padding: 10px; }
	.play-left img {
		width: 100px;
		height: 100px; }
	.play-left .play-content h1 {
		font-size: 22px; }
	.play-left .play-content p {
		font-size: 16px; }
	.play-middle i {
		margin: 0 5px;
		font-size: 33px; }
	.play-right {
		padding-right: 20px; }
}